@import url('/src/css/global.css');
@import url('/src/css/components/pills.css');

a.link-button{
    display: flex;
    align-items: center;
    justify-content: initial;
    color: #fff;
}
a.link-button .icon{
    width: 32px;
    height: 32px;
    padding: 3px;
    background-color: var(--primary-color);
    border: solid 1px #fff;
    border-radius: 50%;
    background-clip: content-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
a.link-button .icon .play-icon{
    border: solid 7px #fff;
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    margin-right: -9px;
}
a.link-button .label{
    margin-left: 10px;
}
a.link-button .label:hover{
    transition: all .5s ease-in-out;
    color: var(--primary-color);
}