@import url('/src/css/global.css');

body{
    background-color: var(--primary-color);
}
body::before{
    content: '';
    background-image: url('/src/assets/images/spider-man-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(2px);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    border: none;
    z-index: -1;
}
.s-menu{
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    position: relative;
}
.s-menu__item{
    display: inline-block;
    margin: 0 1rem;
    text-transform: uppercase;
}
.s-menu__item.icon{
    width: 2.5rem;
    margin: 0 1.25rem;
    vertical-align: middle;
}
.s-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    perspective: 3000px;
}
.s-cards-carousel{
    display: flex;
    justify-content: center;
    width: calc(100vw / 3 - 10%);
    transform-style: preserve-3d;
    transition: transform 0.4s ease-out;
}
.s-card{
    border: 0.5rem solid #fff;
    width: 100%;
    height: 70vh;
    position: absolute;
    border-radius: 8px;
}
.s-card:nth-child(1){
    transform: rotateY(0) translateZ(50vw);
}
.s-card:nth-child(2){
    transform: rotateY(120deg) translateZ(50vw);
}
.s-card:nth-child(3){
    transform: rotateY(240deg) translateZ(50vw);
}
.s-card__background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 1;
}
.s-card__image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
}
.s-card__title{
    position: absolute;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    bottom: 0;
    transition: all 1s ease-in-out;
}
.s-controller{
    position: absolute;
    bottom: 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}
.s-controller__button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: var(--primary-color);
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
}
.s-controller__button--active{
    background-color: #fff;
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    outline: 0.25rem solid white;
}
.s-controller__button:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    background-color: #fff;
    color: var(--primary-color);
}
.s-controller__button:nth-child(2){
    margin: 0 3.75rem;
}
.s-controller__line{
    background-color: #fff;
    width: 80%;
    height: 0.2rem;
    position: absolute;
}
.s-card--hovered .s-card__background{
    cursor: pointer;    
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.s-card--hovered .s-card__image{
    transform: scale(1.4);
    transition: transform 1s ease-in-out;
    filter: drop-shadow(.75rem 0 0 rgba(0, 0, 0, 0.3));
}
body#spider-man-01-hovered::before{
    background-image: url('/src/assets/images/pic-sm-bg-01.jpg');
}
body#spider-man-02-hovered::before{
    background-image: url('/src/assets/images/pic-sm-bg-03.jpg');
}
body#spider-man-03-hovered::before{
    background-image: url('/src/assets/images/pic-sm-bg-02.jpg');    
}
body[id^="spider-man-"]::before{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
body[id^="spider-man-"] .s-card:not(.s-card--hovered){
    filter: grayscale(100%);
    transition: filter 0.5s ease-in-out;
}
.s-card--hovered .s-card__title{
    bottom: 50%;
}