@import url('/src/css/global.css');


.s-wrapper{
    display: flex;
    height: 100vh;
    flex-flow: row nowrap;
}
.s-wrapper .s-left-column{
    width: 100px;
    height: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.s-wrapper .s-main-content{
    height: 100%;
    width: 100%;
    background-color: #ccc;
    padding-left: 30px
}
.navigator{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}